
$listControlsWidth: 220px;
$movieTileWidth: 185px;
$listSubpanelColor: #6D6D6D;

$blue: #1090cc;

$small: screen and (min-width: 600px);
$medium: screen and (min-width: 900px);
$large: screen and (min-width: 1200px);

$navcolor: #0F0F0F;
