
$listControlsWidth: 220px;
$movieTileWidth: 185px;
$listSubpanelColor: #6D6D6D;

$blue: #1090cc;
$blue1: #1090cc;
$green: #309C31;
$green1: #56DB58;
$white: #CCCCCC;
$red: #B8354D;

$small: screen and (min-width: 600px);
$medium: screen and (min-width: 900px);
$large: screen and (min-width: 1200px);

$navcolor: #0F0F0F;
