@import 'base';

.watchlist {
    display: flex;
    background-color: #545454;
    min-height: 91vh;

    .watchsummary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        color: #FFFFFF;
        background-color: #2B2B2B;
        position: fixed;
        width: 100%;
        justify-content: flex-start;
        align-items: center;

        .summaryOnOff {
            background: url(../../images/hamburger-blue.svg) no-repeat center;
            background-size: contain;
            display: inline-block;
            height: 45px;
            width: 58px;
        }

        .summaryItem {
            background-color: #424242;
            padding: 6px 1rem;
            margin: 2px;
            border-radius: 10px;
            color: #BEBEBE;
        }
    }

    .movieList {
        background-color: rgba(55, 55, 59, 0.93);
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
   
        margin-left: $listControlsWidth;
    }

    .movieList2 {
        background-color: rgba(55, 55, 59, 0.93);
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
   
        margin-left: 0;
        margin-top: 54px;
    }

    /*
    .select-style {
        border: 1px solid #ccc;
        width: 120px;
        border-radius: 3px;
        overflow: hidden;
        
    }

    .select-style select {
        padding: 5px 8px;
        width: 130%;
        border: none;
        box-shadow: none;
        background: transparent;
        background-image: none;
        -webkit-appearance: none;
    }

    .select-style select:focus {
        outline: none;
    }
    */
}
